@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
 
}

#color-input {
  display: none;
}
#color-label {
  margin-left: 30px;
  margin-top: 13px;
  position: absolute;
  height: 125px;
  width: 125px;
  
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  position: absolute;
  left: 20px; 
  top: 220px;
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}
h2 {

background: red;
    background: -webkit-linear-gradient(left, red, green, blue, violet);
    background: -o-linear-gradient(right, red , green, blue, violet);
    background: -moz-linear-gradient(right, red , blue, violet);
    background: linear-gradient(to right, red , blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    
}
